body{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

table#table1 {
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #a2a9b1;
    display: table-cell;
    text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.finalsection{
    text-align: center;
}